[core]
	editor = vim
[user]
	name = Erica Zavaleta
	email = 44880722+EntropySynthetica@users.noreply.github.com
[color]
	branch = auto
	diff = auto
	grep = auto
	interative = auto
	showbranch = auto
	status = auto
	ui = auto

